<footer class="container mt-5 pt-5 text-center" style="max-width: 600px;">
    <p>
        ©
        <a href="https://zinkin.ru"
           class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover text-body"
           target="_blank">
            Школа 1506, командный кейс № 5
        </a><br>
        Команда «Спортивные ромашки»<br>
        Сделано
        с&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="text-danger" style="animation: heartbeat 5s 1s infinite;" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"></path>
    </svg>
        в&nbsp;2025 году
    </p>
</footer>
